<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
         <link rel="icon" href="/img/weather.png">
        <title>About</title>
    </head>
    <body>
        <div class="index">
             {{>header}}
             <p>This site is created by Pruthiranjan.It uses from mapbox.com and weatherstack.com</p>
        <img class="portrait" src="/img/img.jpg">
        </div>
          {{>footer}}
    </body>
</html>